<!DOCTYPE html>
<!-- <html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout}"> -->
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout}">
  <head>
    <title>User Form</title>
  </head>
  <style>
    select option:first-child {
      display: none !important;
    }
  </style>
  <body class="">
    <div th:fragment="content" class="mt-5">
      <h3>Add New User</h3>
      <!-- <h2 th:text="${user.id} == null ? 'Add New User' : 'Edit User'"></h2> -->
      <form th:action="@{/users/save}" th:object="${user}" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" th:field="*{username}" placeholder="Enter username" th:classappend="${usernameError != null} ? 'is-invalid' : ''" required/>
            <div class="invalid-feedback" th:if="${usernameError}">
                <p th:text="${usernameError}"></p>
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="Enter email" th:classappend="${emailError != null} ? 'is-invalid' : ''" required/>
            <div class="invalid-feedback" th:if="${emailError}">
                <p th:text="${emailError}"></p>
            </div>
        </div>

        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="number" class="form-control" id="phone" th:field="*{phone}" placeholder="Enter phone number" th:classappend="${phoneError != null} ? 'is-invalid' : ''" required/>
            <div class="invalid-feedback" th:if="${phoneError}">
                <p th:text="${phoneError}"></p>
            </div>
        </div>

        <div class="form-group">
            <label for="role">Role</label>
            <select class="form-control" id="role" th:field="*{role}" required>
                <option value="" selected>Select a role</option>
                <option value="Admin">ADMIN</option>
                <option value="User">USER</option>
            </select>
            <div class="invalid-feedback">
                Please select a role.
            </div>
        </div>

        <div class="float-right">
          <button type="submit" class="btn btn-primary">Add User</button>
          <a th:href="@{/users}" class="btn btn-secondary">Cancel</a>
        </div>
      </form>
    </div>
  </body>
</html>