<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout}">
  <head>
    <title>User Form</title>
  </head>
  <style>
    select option:first-child {
      display: none !important;
    }
  </style>
  <body class="">
    <div th:fragment="content" class="mt-5">
        <div class="card shadow mb-4 mt-3">
            <form id="peopleForm" th:action="@{/people/savePeople}" th:object="${people}" method="post" enctype="multipart/form-data">
                <div class="card-header py-3 d-flex justify-content-between align-items-center">
                    <h3>Add New People</h3>
                    <!-- Buttons -->
                    <div>
                        <button type="submit" class="btn btn-success btn-save">Save</button>
                        <a th:href="@{/people/getPeople}" class="btn btn-secondary">Cancel</a>
                    </div>
                </div>
                    
                <!-- <h2 th:text="${user.id} == null ? 'Add New User' : 'Edit User'"></h2> -->
                <div class="card-body">
                    <div class="row">
                        <!-- First Col -->
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="latinName">Latin Name</label>
                                        <input type="text" class="form-control" id="name_en" th:field="*{nameEn}" required/>
                                    </div>
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col-md-12">                                                     
                                    <div class="form-group">
                                        <label for="dob">Date of Birth</label>
                                        <input type="date" class="form-control" id="dob" th:field="*{dob}" required/>
                                    </div>
                                </div>                               
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="title">Title</label>
                                        <select class="form-control" id="title" th:field="*{title}" required>
                                            <option value="" selected> Select Title</option>
                                            <option value="លោក">លោក</option>
                                            <option value="ឯកឧត្តម">ឯកឧត្តម</option>
                                            <option value="កញ្ញា">កញ្ញា</option>
                                            <option value="លោកស្រី">លោកស្រី</option>
                                            <option value="អ្នកនាង">អ្នកនាង</option>
                                            <option value="លោកជំទាវ">លោកជំទាវ</option>
                                            <option value="លោកនាយកប្រតិបត្តិ">លោកនាយកប្រតិបត្តិ</option>
                                            <option value="លោកអគ្គនាយក">លោកអគ្គនាយក</option>
                                        </select>
                                    </div>  
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="passport">Passport</label>
                                        <input type="text" class="form-control" id="passport" th:field="*{passport}" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" id="phones">
                                        <label for="phone">Phone</label>
                                        <div class="input-group">
                                            <input type="text"​ name="phones" class="form-control" id="phone" required/>
                                            <div class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary" id="addPhoneButton">+</button>
                                            </div>
                                        </div>
                                    </div>                  
                                </div> 
                            </div>   
                              
                        </div>
                        
                        <!-- Second Col -->
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="khmerName">Khmer Name</label>
                                        <input type="text" class="form-control" id="name_kh" th:field="*{nameKh}" />
                                    </div>                                    
                                </div>                                
                            </div>                     
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="phone">Nationality</label>
                                        <input type="text" class="form-control" id="nationality" th:field="*{nationality}" required/>
                                    </div>                              
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="division">Division</label>
                                        <input type="text" class="form-control" id="division" th:field="*{division}" />
                                    </div>
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="status">ID Card</label>
                                        <input type="number" class="form-control" id="status" th:field="*{idCard}" required/>
                                    </div>
                                </div>
                            </div>  
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" id="emails">
                                        <label for="email">Email</label>
                                        <div class="input-group">
                                            <input type="email" name="emails" class="form-control" id="email" required/>
                                            <div class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary" id="addEmailButton">+</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                                          
                        </div>

                        <!-- Third Col -->
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                   <div class="form-group">
                                        <label for="gender">Gender</label>
                                        <select class="form-control" id="gender" th:field="*{gender}" required>
                                            <option value="" selected>Select gender</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    </div>   
                                </div>                                                         

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="individual_type">Individual Type</label>
                                        <select class="form-control" id="individual_type" th:field="*{individual_type}" required>
                                            <option value="" selected> Select Individual Type</option>
                                            <option value="រូបវន្តបុគ្គល">រូបវន្តបុគ្គល</option>
                                            <option value="នីតិបុគ្គល">នីតិបុគ្គល</option>
                                            <option value="ក្រុមការងារ">ក្រុមការងារ</option>
                                        </select>
                                    </div>
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col-md-12">                   
                                    <div class="form-group">
                                        <label for="image">Image</label>
                                        <!-- Default image preview, clickable -->
                                        <div class="image-upload-container">
                                            <img id="imagePreview"
                                                th:src="${people.image != null} ? @{/uploads/} + ${people.image} : @{/image/noimage.jpg}"
                                                src="/serc-application/image/noimage.jpg" 
                                                alt="Default Image"                             
                                                onclick="document.getElementById('image').click();">
                                                
                                                <!-- <p id="fileName" style="margin-top: 10px; font-style: italic; color: #555;"></p> -->
                                                <!-- Hidden file input -->
                                                <input type="file" name="file" class="hidden-file-input" id="image" accept="image/*" >
                                                
                                                <!-- Hidden input to store the current image preview path -->
                                                <input type="hidden" name="currentImage" th:value="${people.image}">
                                        </div>
                                        
                                        <!-- <div class="form-group">
                                            <label for="image_url">Image</label>
                                            <input type="file" name="image" class="form-control-file" id="image" required>
                                        </div> -->
                                    </div>
                                </div>                             
                            </div> 
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" id="medias">
                                        <label for="status">Media</label>
                                        <div class="input-group">
                                            <input type="text" name="medias" class="form-control" id="media" required/>
                                            <div class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary" id="addMediaButton">+</button>
                                            </div>
                                        </div>
                                    </div>                         
                                </div>     
                            </div>                               
                        </div>
                    </div>               
                </div>                    
            </form>
        </div>  
    </div>

    <div th:fragment="customScripts">
        <script>
            $(document).ready(function () {
                // Initialize counters
                let emailCount = 1;
                let phoneCount = 1;
                let mediaCount = 1;
        
                // Add new email input field
                $("#addEmailButton").click(function () {
                    const emailField = `
                        <div class="input-group mt-2 email-group">
                            <input type="email" name="emails" class="form-control" name="contact.emails[${emailCount}].email" required>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-sm btn-danger remove-email-button">-</button>
                            </div>
                        </div>`;
                    $("#emails").append(emailField);
                    emailCount++;
                });
        
                // Add new phone input field
                $("#addPhoneButton").click(function () {
                    const phoneField = `
                        <div class="input-group mt-2 phone-group">
                            <input type="text" name="phones" class="form-control" name="contact.phones[${phoneCount}].phone" required>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-sm btn-danger remove-phone-button">-</button>
                            </div>
                        </div>`;
                    $("#phones").append(phoneField);
                    phoneCount++;
                });
        
                // Add new media input field
                $("#addMediaButton").click(function () {
                    const mediaField = `
                        <div class="input-group mt-2 media-group">
                            <input type="text" name="medias" class="form-control" name="contact.medias[${mediaCount}].media" required>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-sm btn-danger remove-media-button">-</button>
                            </div>
                        </div>`;
                    $("#medias").append(mediaField);
                    mediaCount++;
                });
        
                // Remove email input field
                $("#emails").on("click", ".remove-email-button", function () {
                    $(this).closest(".email-group").remove();
                });
        
                // Remove phone input field
                $("#phones").on("click", ".remove-phone-button", function () {
                    $(this).closest(".phone-group").remove();
                });
        
                // Remove media input field
                $("#medias").on("click", ".remove-media-button", function () {
                    $(this).closest(".media-group").remove();
                });

                //upload image
                document.getElementById('image').addEventListener('change', function(event) {
                    const fileInput = event.target;
                    const preview = document.getElementById('imagePreview');
                    // const fileName = fileInput.files[0] ? fileInput.files[0].name : '';
                    const fileNameDisplay = document.getElementById('fileName');

                    // Display the file name
                    //  .textContent = fileName;

                    // Update the image preview
                   
                    if (fileInput.files && fileInput.files[0]) {
                        const reader = new FileReader();
                        reader.onload = function(e) {
                            preview.src = e.target.result;
                        };
                        reader.readAsDataURL(fileInput.files[0]);
                        // fileNameDisplay.textContent = `Selected file: ${fileInput.files[0].name}`; // Update file name display
                    }else {
                        // Reset to the default preview and message if no file is selected
                        preview.src = preview.getAttribute('src');
                        fileNameDisplay.textContent = 'Click the image to upload';
                    }
                });

                // // Select the elements
                // const imagePreview = document.getElementById('imagePreview');
                // const fileInput = document.getElementById('image');

                // // When the image is clicked, trigger the file input
                // imagePreview.addEventListener('click', function() {
                //     fileInput.click(); // Simulate a click on the hidden file input
                // });

                // // When a file is selected, update the preview image
                // fileInput.addEventListener('change', function(event) {
                //     const file = event.target.files[0];
                //     if (file) {
                //         const reader = new FileReader();
                //         reader.onload = function(e) {
                //             // Update the image preview
                //             imagePreview.src = e.target.result;
                //         };
                //         reader.readAsDataURL(file);
                //     }
                // });                

            });
        </script>        
    </div>
</body>
</html>