<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout}">
<head>
    <title>Edit People</title>
    <link rel="stylesheet" th:href="@{/style/css/styles.css}" />
</head>
<body>
    <div th:fragment="content" class="mt-5">
        <div class="card shadow mb-4 mt-5">
            <form th:action="@{/people/editPeople/{id}(id = ${people.id})}" th:object="${people}">
                <div class="card-header py-3 d-flex justify-content-between align-items-center">
                    <h3>Update People Information</h3>
                    <!-- Buttons -->
                    <div>
                        <button type="submit" class="btn btn-success btn-save">Save</button>
                        <a th:href="@{/people/getPeople}" class="btn btn-secondary">Cancel</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <!-- First Col -->
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="latinName">Latin Name</label>
                                        <input type="text" class="form-control" id="nameEn" th:field="*{nameEn}"/>
                                    </div>
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col-md-12">                                                     
                                    <div class="form-group">
                                        <label for="dob">Date of Birth</label>
                                        <input type="date" class="form-control" id="dob" th:field="*{dob}"/>
                                    </div>
                                </div>                               
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="title">Title</label>
                                        <!-- <input type="text" class="form-control" id="dob" th:field="*{title}"/> -->
                                        <select class="form-control" id="title" th:field="*{title}" required>
                                            <option value="" selected> Select Title</option>
                                            <option value="លោក">លោក</option>
                                            <option value="ឯកឧត្តម">ឯកឧត្តម</option>
                                            <option value="កញ្ញា">កញ្ញា</option>
                                            <option value="លោកស្រី">លោកស្រី</option>
                                            <option value="អ្នកនាង">អ្នកនាង</option>
                                            <option value="លោកជំទាវ">លោកជំទាវ</option>
                                            <option value="លោកនាយកប្រតិបត្តិ">លោកនាយកប្រតិបត្តិ</option>
                                            <option value="លោកអគ្គនាយក">លោកអគ្គនាយក</option>
                                        </select>
                                    </div>  
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="passport">Passport</label>
                                        <input type="text" class="form-control" id="dob" th:field="*{passport}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" id="phones">
                                        <label for="phone">Phone</label>                          
                                        <div th:each="phone : ${phones}" class="input-group mb-2">
                                            <input type="text" class="form-control" th:value="${phone}"/>
                                            <div class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary" id="addPhoneButton">+</button>
                                            </div>
                                        </div>
                                    </div>                  
                                </div> 
                            </div>   
                                
                        </div>
                        
                        <!-- Second Col -->
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="khmerName">Khmer Name</label>
                                        <input type="text" class="form-control" id="dob" th:field="*{nameKh}"/>
                                    </div>                                    
                                </div>                                
                            </div>                     
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="phone">Nationality</label>
                                        <input type="text" class="form-control" id="dob" th:field="*{nationality}"/>
                                    </div>                              
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="division">Division</label>
                                        <input type="text" class="form-control" id="dob" th:field="*{division}"/>
                                    </div>
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="status">ID Card</label>
                                        <input type="text" class="form-control" id="dob" th:field="*{idCard}"/>
                                    </div>
                                </div>
                            </div>  
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" id="emails">
                                        <label for="email">Email</label>
                                        <div th:each="email : ${emails}" class="input-group mb-2">
                                            <input type="email" class="form-control" th:value="${email}"/>
                                            <div class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary" id="addEmailButton">+</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                                          
                        </div>

                        <!-- Third Col -->
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="gender">Gender</label>
                                        <select class="form-control" id="gender" th:field="*{gender}" required>
                                            <option value="" selected>Select gender</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    </div>   
                                </div>                                                         

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="individual_type">Individual Type</label>
                                        <select class="form-control" id="individual_type" th:field="*{individual_type}" required>
                                            <option value="" selected> Select Individual Type</option>
                                            <option value="រូបវន្តបុគ្គល">រូបវន្តបុគ្គល</option>
                                            <option value="នីតិបុគ្គល">នីតិបុគ្គល</option>
                                            <option value="ក្រុមការងារ">ក្រុមការងារ</option>
                                        </select>
                                    </div>
                                </div>                                
                            </div>
                            <!-- <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="image">Image</label>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="image-upload-container">
                                                    <img th:src="@{'/uploads/' + ${people.image}}" alt="People Image" style="max-width: 150px; max-height: 125px;">                             
                                                </div>
                                            </div>
                                            <div class="col-md-8 mb-0">
                                                <input type="file" id="image" name="image" class="form-control-file">
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>                             
                            </div>  -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="image">Image</label>
                                        <div class="row align-items-center">
                                            <!-- Clickable Old Image Preview -->
                                            <div class="col-md-4">
                                                <div class="image-upload-container" style="position: relative; cursor: pointer;">
                                                    <img id="imagePreview" 
                                                            th:src="@{'/uploads/' + ${people.image}}" 
                                                            alt="People Image" 
                                                            style="max-width: 150px; max-height: 125px;"
                                                            onclick="document.getElementById('image').click();"
                                                            name="image">
                                                    <input type="file" id="image" name="image" class="form-control-file" style="display: none;" onchange="previewImage(this)">
                                                </div>
                                            </div>
                                            <!-- Label for Upload New Photo -->
                                            <div class="col-md-8">
                                                <label for="image" style="cursor: pointer;" onclick="document.getElementById('image').click();">
                                                    Click to upload new image
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" id="medias">
                                        <label for="status">Media</label>
                                        <div th:each="media : ${medias}" class="input-group mb-2">
                                            <input type="text" name="medias" class="form-control" id="media" th:value="${media}"/>
                                            <div class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary" id="addMediaButton">+</button>
                                            </div>
                                        </div>
                                    </div>                         
                                </div>     
                            </div>                               
                        </div>
                    </div>               
                </div>
            </form>          
        </div>
    </div>
    <div th:fragment="customScripts">
        <script>
            /**
             * Preview the uploaded image
             * @param {HTMLInputElement} input - The file input element
             */
            function previewImage(input) {
                if (input.files && input.files[0]) {
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        // Update the image preview
                        document.getElementById('imagePreview').src = e.target.result;
                    };
                    reader.readAsDataURL(input.files[0]); // Read the file as a data URL
                }
            }
        </script>
    </div>
</body>
</html>
